<!DOCTYPE html>
<!-- dir=ltr means language direction is left-to-right rather than  rtl -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Generate Random Users with Celery</title>
    </head>
    <body>
        <h1><u> FORMS HANDELING IN DJANGO </u></h1
        <div style = "max-width:470px;">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btnbtn-primary" value="submit">
        </div>
    </body>
</html>
