{% extends 'sms_nudger/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">Add FAQ</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Ask</button>
        </div>
    </form>
</div>
{% endblock content %}
